git+https://github.com/ActiveState/appdirs#egg=appdirs
git+https://github.com/python-attrs/attrs#egg=attrs
git+https://github.com/pallets/click#egg=attrs
git+https://github.com/Julian/Filesystems#egg=filesystems
git+https://github.com/pypa/packaging#egg=packaging
git+https://github.com/pyparsing/pyparsing#egg=pyparsing
git+https://github.com/tobgu/pyrsistent#egg=pyrsistent
git+https://github.com/avakar/pytoml#egg=pytoml
git+https://github.com/benjaminp/six#egg=six
git+https://github.com/tqdm/tqdm#egg=tqdm
git+https://github.com/pypa/virtualenv#egg=virtualenv
